#logo{
    background-color:#11131C;
}
#carousel-with-lb{
    background-color: #11131C;
}
.carousel-multi-item .carousel-inner .carousel-item.active,
 .carousel-multi-item .carousel-item-next, .carousel-multi-item .carousel-item-prev{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-right: 0px;
}

.col-md-4{
    flex:0 0 auto;
    padding-right: 0px;
    padding-left: 5px;
    width: 100%;
    max-width: initial;
}
.fa-1x {
    font-size: 1.5rem;
    }
    .navbar-toggler.toggler-example {
    cursor: pointer;
    }
    .dark-blue-text {
    color: #0A38F5;
    }
    .dark-pink-text {
    color: #AC003A;
    }
    .dark-amber-text {
    color: #ff6f00;
    }
    .dark-teal-text {
    color: #004d40;
    }
    .light-blue.lighten-4{
        background-color: #ffffff !important;
    }