body{
    background-color: #000000;
    color: #ffffff;
}

.carousel-multi-item .carousel-inner .carousel-item.active,
 .carousel-multi-item .carousel-item-next, .carousel-multi-item .carousel-item-prev{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-right: 0px;
}
h1{
    color: #ffffff;
    
}
img {
    width: 50%;
    height: 100%;
    padding-right: 10px;
}
video {
    width: 100%;
    height: 100%;
}
.col-md-4{
    flex:0 0 auto;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 10px;
    width: auto;
    max-width: initial;  
    
}

.d-md-inline-block{
    background-color: #434343;
}
.fas{
    color: #ffffff;
}
.btn-secondary {
    background-color: #000000 !important;
}
.elegant-color{
    background-color: #434343 !important;
}


.jumbotron{
   background-image:  linear-gradient(to bottom, #000000, #434343);
}
.fa-1x {
    font-size: 1.5rem;
    }
    .navbar-toggler.toggler-example {
    cursor: pointer;
    }
    .dark-blue-text {
    color: #0A38F5;
    }
    .dark-pink-text {
    color: #AC003A;
    }
    .dark-amber-text {
    color: #ff6f00;
    }
    .dark-teal-text {
    color: #004d40;
    }
    .light-blue.lighten-4{
        background-color: #000000 !important;
    }
    .modal-body, .modal-title{
        color: #000000;
    }
    #f,#i,#y,#t, #social-media{
        padding-top: 5px;        
        font-size: 32px;
        color: #ffffff;
        
    }
    .controls-top{
        text-align: center;
    }
    #about-film{
        background-color: #434343;
    }
    .mb-2{
        background-color: #434343;
        
    }
    .card-text{
        color: #ffffff !important;
    }
   .h4{
       color:rgb(71, 70, 70);
   }
   .custom-control-label{
    color:rgb(71, 70, 70);

   }
   .carousel .carousel-indicators li{
    background-color:#000000;
   }
   #nav-main{
       float: right;
       background-color: #000000;
   }
   .btn-cyan{
       background-color: #434343 !important;
   }
@media (max-width: 576px) { 
    #f,#i,#y,#t, #social-media, h2, p, label,.custom-select, h5, .modal-body, h3, h4, h1{
               
        font-size: 80% !important;       
    }
    .nav-main{
       display: none;
    }
    
 }
 .carousel .carousel-control-prev-icon, .carousel .carousel-control-next-icon{
    width: 60px !important; 
    height: 80px !important;
 }
 @media (min-width : 768px){
    #nav-hamburger{
        display: none;
    }
 }
 
 a{
     color: #ffffff !important;
 }